<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
          <!-- Set expire headers to 30 days for static content-->
          <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
        </staticContent>
        <rewrite>
            <rules>
                <clear />
                <rule name="HTTP/S to HTTPS Redirect" enabled="true" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAny">
                      <add input="{SERVER_PORT_SECURE}" pattern="^0$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" />
                </rule>
                <rule name="Authors">
                    <match url="^trending/$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="/trending.php" />
                </rule>
                <rule name="About Page">
                    <match url="^about/$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="/about.php" />
                </rule>
                <rule name="Timestamping">
                    <match url="^timestamping/$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="/timestamping.php" />
                </rule>
                <rule name="Posting">
                    <match url="^post/$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="/post.php" />
                </rule>
                <rule name="Delegation">
                    <match url="^power-delegation/$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="/spdelegation.php" />
                </rule>
                <rule name="Imported Rule 7">
                    <match url="^([a-z-A-Z_0-9\.]+)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="user.php?name={R:1}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
        <urlCompression doStaticCompression="true" />
    </system.webServer>
    <system.net>
        <mailSettings>
            <smtp from="support@steemwhales.com">
                <network host="localhost" />
            </smtp>
        </mailSettings>
    </system.net>
    <system.web>
    </system.web>
</configuration>
